.navBarContainer {
    background-color: red;
    width: 100%;
    height: 10vh;
}
  
ul{
    list-style: none;
    display: flex;
justify-content: center;
align-content: center;
    margin: 0;
    width: 100%;
    background-color: pink;

}

.navItem{
    background-color: green;
   width: 30%;
   height: 100%;
}

.iconConnection{
    
}