.navBarContainer {
    background-color: var(--darkblue);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: white;
    top: 0px;
}

.navBarUl {
    width: 90%;
    display: flex;
    align-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: 70%;
    height: 100%;
}

li {
    margin-right: 3em;
    display: flex;

}

li>a {
    text-decoration: none;
    position: relative;
    color: white;
}

li>a::before {
    content: "";
    background-color: var(--goldenyellow);
    transition: 0.5s ease-out;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
}

li>a:hover::before {
    width: 100%;
}


li>a:hover {
    transition: all 1s;
    text-decoration: none;
    color: var(--goldenyellow);

}

/* Icon de la bar de nav */
.navIcon {
    color: white;
    font-size: 3rem;
}

.navIconText {
    font-size: x-small;
    padding-left: 1px;
    color: var(--darkorange);
}

.navBarButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarButton>button {
    border: none;
    background: none;
    color: inherit;
    border-radius: 30%;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navBarButton>button:hover {
    transition: all 1s;
    background-color: var(--goldenyellow);
    border-radius: 50%;
}

.navBarButton>button:hover>.navIconText {
    transition: 1s;
    background: white;
    border-radius: 10px;
    font-weight: bold;
}